.stock__input {
    display: block !important;
    padding: 10px;
    width: 100%;
    border-top: 1px solid lightgray;
    margin-right: auto;
}

.stock__inputField {
    flex: 1;
    padding: 10px;
    color: black !important;
    width: 50%;
}

.stock__inputButton {
    background-color: white;
    font-weight: bolder;
    display: grid;
    margin: auto;
    margin-top: 20px;

    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 12px;
}

.stock__question {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
}

.required:after {
    content:" *";
    color: red;
}

.name {
    margin-right: 10px;
}

.stock__table {
    margin-top: 35px;
}

